/* small screen */
@media only screen and (max-width: 610px) {
  .top{
    
    flex-direction: column;
    /* animation: fadeIn .5s ease-out; */
    /* animation: fadeout .5s ease-out; */
  }
  .top div{
    justify-content: center;
  }
  .menu2{
    display: block;
  }
  .my_menu{
    z-index: 1;
    display: none;
    
    top: 30px;
    left: 5px;
    justify-content: space-between;
  }
  .menu-toggle {
      z-index: 5;
      width: 30px;
      height: 20px;
      position: fixed;
      top: 5px;
      left: 5px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    }
    
    
    /* about us */
    
    .read-more-para {
      max-height: 100px;
      overflow: hidden; 
    }
    .read-more-para::after {
      content: " Read more";
      color: blue;
      cursor: pointer;
    }
    
    .read-more-para.expand {
      max-height: none;
    }
    
    .read-more-para.expand::after {
      display: none;
    }
    
    .read-more-para.expand + .read-more-message {
      display: none;
    }

    .read-more-message {
      cursor: pointer;
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 16px;
      border-radius: 4px;
      z-index: 1;
    }

    /* read more principal */

    .read-more-para_p {
      max-height: 100px;
      overflow: hidden; 
    }
    .read-more-para_p::after {
      content: " Read more";
      color: blue;
      cursor: pointer;
    }
    
    .read-more-para_p.expand {
      max-height: none;
    }
    
    .read-more-para_p.expand::after {
      display: none;
    }
    .read-more-para_p.expand + .read-more-message_p {
      display: none;
    }
    .read-more-message_p {
      cursor: pointer;
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 16px;
      border-radius: 4px;
      z-index: 1;
    }
    
    /* read more why  */

    .why {
      position: relative;
      max-height: 400px;
      overflow: hidden; 
      background: linear-gradient(to top,#55ddee, rgba(240, 240, 240, 0.63)); /* Text color gradient */
      /* -webkit-background-clip: text; */
      /* color: transparent; */
    }
    
    .why.expand {
      max-height: none;
    }
    .why.expand li {
      display: flex;
    }
    .why li {
      display: none;
    }
    .why.expand h2 {
      display: flex;
    }
    .why h2 {
      display: none;
    }
    .why.expand::after {
      display: none;
    }
    .why.expand + .read-more-message_why {
      display: none;
    }

    .read-more-message_why {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 50%;
      /* height: 40px; */
      transform: translateX(-50%);
      padding: 8px 16px  ;
      border-radius: 4px;
      z-index: 5;
      background: #55ddee ;
    }

    .cta-text{
    font-size: 55%;
    }
    .gallary_main_child{
      margin: 5px;
      padding: 30px;
      /* height:70vh; */
     /* display: grid; */
      display:grid;
      place-items:center;
      /* justify-content: center ; */
    
    }
  .gallary {
    display: grid;
    width: 200px;
    height: 150px;
    transform-style:preserve-3d;
    animation:rotate 30s linear infinite; 
  }
  @keyframes rotate{
      from{
        transform:perspective(1100px) rotateY(0deg);
      }
      
      to{
        transform:perspective(1100px) rotateY(360deg);
      }
    }
  .gallary span{
    
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin:center;
      transform-style:preserve-3d;
      transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }
  .gallary span img {
    /* position: relative; */
    
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 5%;
  }
  .floating-img img{
    height: 300px;
  }
  }

  /*  big screen */
  @media only screen and (min-width: 611px){
    .menu-toggle{
      display: none; 
    }
    .read-more-message {
      display: none; 
    }
    .read-more-message_p {
      display: none; 
    }
    .read-more-message_why {
      display: none; 
    }
    .floating-img img{
      height: 500px;
    }
    .gallary_main_child{
      margin: 5px;
      padding: 30px;
      width: 80vw;
      /* height:70vh; */
     /* display: grid; */
      display:grid;
      place-items:center;
      justify-content: center ;
    
  }
  .gallary {
    display: grid;
    width: 270px;
    height: 200px;
    transform-style:preserve-3d;
    animation:rotate 30s linear infinite; 
  }
  @keyframes rotate{
      from{
        transform:perspective(1200px) rotateY(0deg);
      }
      
      to{
        transform:perspective(1200px) rotateY(360deg);
      }
    }
  .gallary span{
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin:center;
      transform-style:preserve-3d;
      transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }
  .gallary span img {
    /* position: relative; */
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 5%;
  }
  
  


  }

  .my_menu li{
    z-index: 1;
  }

  
  
  .line {
    width: 100%;
    height: 4px;
    background-color: #07d2ff;
    transition: 0.3s;
  }
  
  
  .menu-toggle.open .line:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  
  .menu-toggle.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
  
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to{
      opacity: 0;
    } 
  }
  
  